﻿@model List<Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createProduct">
    <div class="form-group">
        <label>Category Name</label>
        <select class="form-control" name="CategoryId">
            @foreach (var category in Model)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Name" value="" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="Description" value="" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="Price" value="" />
    </div>
    <button id="saveBtn" class="btn btn-primary" type="Button">Save</button>

</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type:"POST",
            url: "/Product/Create",
            data: $("#createProduct").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });
</script>