﻿@model Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

<form id="editProduct">
    <input type="hidden"  name="ID" value="@Model.Id" />

    <label>Name</label>
    <input type="text" name="Name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input type="text" name="Description" value="@Model.Description" />

    <br />
    <label>Price</label>
    <input type="text" name="Price" value="@Model.Price" />

    <button id="updateBtn" type="Button">Update</button>
</form>
<script>
    $("#updateBtn").click(function () {
        $.ajax({
            type:"POST",
            url: "/Product/Edit",
            data: $("#editProduct").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });
</script>