﻿@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}

<h2>ProductTable</h2>

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input type="text" class="form-control" id="searchTxt" name="Search" value="" />
                 </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" id="searchBtn">Search</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" id="newBtn">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>

<div>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Prodcut Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        @if (item.Category != null)
                        {
                            <text>@item.Category.Name</Text>
                        }
                        else
                        {
                            <text>--</text>
                        }

                </td>
                <td>@item.Price</td>
                <td>
                    <button class="editBtn" data-id="@item.Id">Edit</button>
                    <button class="deleteBtn" data-id="@item.Id">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script>
    
    $("#searchBtn").click(function () {
        var SearchValue = $("#searchTxt").val();
        $.ajax({
            url: "/Product/ProductTable",
            data: {
                search: SearchValue
            }
        })
            .done(function (response) {
                alert("success");
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
    $("#newBtn").click(function () {
        var SearchValue = $("#searchTxt").val();
        $.ajax({
            url: "/Product/Create",
         
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
        $(".editBtn").click(function () {
        $.ajax({
            url: "/Product/Edit",
            data: {
                Id: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });
    $(".deleteBtn").click(function () {
        var confirmation = confirm("Are you sure you want to delete this Product");
        if (confirmation)
        {
            $.ajax({
                    type:'POST',
                    url: "/Product/Delete",
                    data: {
                        Id: $(this).attr('data-id')
                    }
             })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        }
        });
</script>