﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create category</h2>

<form method="post">

    <label>Name</label>
    <input type="text" name="Name" value="" />
    <br />
    <label>Description</label>
    <input type="text" name="Description" value="" />
    <br />
    <label>Image</label>
    <input type="hidden" id="ImageUrl" name="ImageUrl"/>
    <input type="file" id="imageUpload" name="Image" accept=".png, .jpg" />
    <div class="thumb">
        <img id="categoryImage" />
    </div>
    <br />
    
    <label>Is Featured?</label>
    <input type="radio" name="isFeatured" value="true" /> True
    <input type="radio" name="isFeatured" value="false" /> False
    <br />


    <button type="submit">Save</button>
</form>
    <script>
        $("#imageUpload").change(function () {
                   // debugger
            var element = this;
            var formData = new FormData();
            var totalFiles = element.files.length;

            for (var i = 0; i < totalFiles; i++) {
                var file = element.files[i];
                formData.append("Photo", file);
            }

            $.ajax({
                type:"POST",
                url: "/Shared/UploadImage",
                dataType: 'json',
                data: formData,
                contentType: false,
                processData:false
             })
              .done(function (response) {
                   console.log(response);
                  if (response.success) {
                      $("#ImageUrl").val(response.ImageUrl);
                      $("#categoryImage").attr("src", response.ImageUrl);
                  }
                //$("#tableContainer").html(response);
                //$("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

        });
    </script>