﻿@model Category
@{
    ViewBag.Title = "Edit";
    var trueChecked = Model.IsFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.IsFeatured ? "checked" : string.Empty;
}

<h2>Edit</h2>

<form method="post">

    <input type="hidden" name="Id" value="@Model.Id" />

    <label>Name</label>
    <input type="text" name="Name" value="@Model.Name" />

    <label>Description</label>
    <input type="text" name="Description" value="@Model.Description" />

    <br />
    <label>Is Featured?</label>
    <input type="radio" name="isFeatured" value="true"  @trueChecked/> True
    <input type="radio" name="isFeatured" value="false" @falseChecked/> False
    <br />

    <button type="submit">Update</button>
</form>
